<ion-content padding>
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input required [(ngModel)]="device.name" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Serial</ion-label>
      <ion-input [(ngModel)]="device.serie" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="device.description" [ngModelOptions]="{standalone: true}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select [(ngModel)]="device.category" [ngModelOptions]="{standalone: true}"
        [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Seleccione uno">
        <ion-select-option value="1">Vaca fulana</ion-select-option>
        <ion-select-option value="2">Vaca 2</ion-select-option>
        <ion-select-option value="3">Vaca no se</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-toggle [(ngModel)]="device.stateDevice" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <button ion-button type="submit" [ngClass]="'fixed-button'" expand="full" block>Guardar</button>
  </form>
</ion-content>